// bower:scss
// endbower

// @import url(https://fonts.googleapis.com/css?family=Poppins:400,300,700,600,500);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,700);

@import 'variables';
@import 'mixin.scss';

* {
  box-sizing: border-box;

  &:before, &:after {
    box-sizing: border-box;
  }
}

html, body {
  @include square(100%);
  background-color: $color-background;
  font-family: $font-family;
}

main {
  width: 100%;
}

.content {
  width: $size-content-width;
  @include center();
}

header {
  background-color: $color-header;
  color: $color-white;
  height: $size-header-height;

  .content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    p, ul {
      @include reset();
    }

    p {
      font-weight: 100;
      font-size: 22px;
      line-height: $size-header-height;
      order: 1;
    }

    ul {
      list-style: none;
      margin-top: 5px;
      order: 2;
      display: flex;

      li {
        margin-left: 20px;

        a {
          @include square(30px);
          display: block;
          border: 1px solid $color-white;
          border-radius: 50%;

          &:hover {
            border-width: 2px;
          }

          span {
            display: none;
          }
        }
      }
    }
  }
}

.cover {
  width: 100%;
  overflow: hidden;
  position: relative;
  color: $color-white;

  &:before {
    content: ' ';
    background: url(../images/cover.png) center no-repeat;
    background-size: cover;
    filter: blur(24px);
    transform: scale(1.3);
    width: 100%;
    height: 385px;
    display: block;
  }

  .content-wrapper {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .content {
    display: flex;
    flex-flow: row;
    justify-content: space-between;;
    align-items: center;
    align-content: center;
    height: 100%;

    .profile {
      @include square(200px);
      border-radius: 50%;
    }

    aside {
      width: calc(#{$size-content-width} - 300px);


      h1 {
        font-size: 64px;
        font-weight: 100;
        letter-spacing: -3px;
        @include reset();
      }

      p {
        font-size: 20px;
        font-weight: 200;

        strong {
          font-weight: 700;
        }
      }
    }
  }
}

.numbers {
  background-color: $color-numbers;
  color: $color-white;
  text-align: center;
  padding: 75px 0;

  h2 {
    font-size: 32px;
    font-weight: 400;
    padding-bottom: 105px;
    @include reset();
  }

  ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    @include reset();

    li {
      font-size: 48px;
      font-weight: 100;
      line-height: 50px;

      span {
        color: $color-light-blue;
        display: block;
        font-size: 120px;
        margin-bottom: 45px;
      }
    }
  }
}
