// Font

// $font-family: Poppins, Helvetica, Arial, sans-serif;
$font-family: Raleway, Helvetica, Arial, sans-serif;

// Colors

$color-background: #fafafa;
$color-header: #000;
$color-white: #fff;
$color-numbers: #202022;

$color-light-blue: #1aa4b0;

// Sizes

$size-header-height: 65px;
$size-content-width: 1100px;
