// Font

$font-family: Poppins, Helvetica, Arial, sans-serif;

// Colors

$color-background: #fafafa;
$color-header: #000;
$color-white: #fff;

// Sizes

$size-header-height: 65px;
$size-content-width: 1280px;
